.project-container{
    justify-content: start;
}

.project-container>h1{
    font-size: 2.5rem;
    margin: 20px 0;
}

.proj-subtitle{
    font-size: 1.1rem;
    margin: 12px 0;
}
.to-do-section, .notes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.mode-switcher {
    margin: 12px 0;
    display: flex;
    gap: 3px
}
.mode-switcher button {
    background-color: #0002;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 50ms;
}
.mode-switcher button:hover {
    background-color: #222;
}
.mode-switcher button:disabled {
    background-color: #444;
    outline: 1px solid #fff4;
    cursor: default;
}
.to-do-list{
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    background-color: #1f1f1f;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.to-do-item{
  background-color: #3f3f3f;
  padding: 8px;
  border-radius: 5px;
}
.to-do-item.completed h3{
  text-decoration: line-through;
  opacity: 0.6;
}
.to-do-item h3{
  font-size: 1rem;
}
.to-do-item:hover{
  background-color: #2f2f2f;
}
.new-todo-input{
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2f2f2f;
    color: white;
    height: 100%;
    width: 100%;
    padding: 0 8px;
}
.new-todo-btn{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 12px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 50ms;
}
.new-todo-btn:hover{
    background-color: #45a049;
}
.item-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    flex-wrap: wrap;
    min-height: 25px;
}
.actions button{
    background-color: #0002;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2px 2px;
    cursor: pointer;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #fff1;
}
.actions button:hover{
    background-color: #222;
    outline: 1px solid #fff4;
}
.actions{
    display: none;
    gap: 2px;
    flex-wrap: wrap;
}
.new-todo-form{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 10px;
    height: 35px;
}
.to-do-item:hover .actions{
    display: flex;
}
.notes-textarea{
    width: 80%;
    height: 600px;
    background-color: #222;
    color: white;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    resize: none;
    z-index: 5;
}
.notes-tab{
    display: flex;
    width: 80%;
    padding-left: 4px;
}
.notes-tab .tab-btn {
    background-color: #0002;
    color: white;
    border: none;
    border-radius: 8px 8px 0px 0px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 50ms;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notes-tab .tab-btn:hover {
    background-color: #222;
}
.notes-tab .tab-btn:disabled {
    background-color: #444;
    outline: 1px solid #fff4;
    cursor: default;
    animation: get-selected 4s;
    z-index: 3;
}
.delete-tab-btn {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
    transition: background-color 200ms;
}
.delete-tab-btn:hover {
    background-color: #944;
}
@media screen and (max-width: 580px) {
    .item-details{
        flex-direction: column;
        gap: 4px;
    }
    .actions button{
        padding: 2px 0px;
        width: 100%;
    }
    .actions{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .to-do-list, .new-todo-form {
        width: 100%;
    }
}