.project-container>h2{
    font-size: 1.1rem;
}

.to-do-list{
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
    background-color: #1f1f1f;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.to-do-item{
  background-color: #3f3f3f;
  padding: 8px;
  border-radius: 5px;
}
.to-do-item.completed h3{
  text-decoration: line-through;
  opacity: 0.6;
}
.to-do-item h3{
  font-size: 1rem;
}
.to-do-item:hover{
  background-color: #2f2f2f;
}
.new-todo-input{
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2f2f2f;
    color: white;
    height: 100%;
    width: 100%;
    padding: 0 8px;
}
.new-todo-btn{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 12px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 50ms;
}
.new-todo-btn:hover{
    background-color: #45a049;
}
.item-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    flex-wrap: wrap;
}
.actions button{
    background-color: #0002;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 2px;
    cursor: pointer;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #fff1;
}
.actions button:hover{
    background-color: #222;
    outline: 1px solid #fff4;
}
.actions{
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}
.new-todo-form{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-top: 10px;
    height: 35px;
}