*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #2f2f2f;
  color: #ffffff;
  padding: 20px;
}
/* projects bar */
.proj-bar {
  background-color: #3f3f3f;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  width: 250px;
  animation: appear_proj 0.3s ease-in-out;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
  z-index: 1000;
}
@keyframes appear_proj {
  from { left: -250px; }
  to { left: 0; }
}
.proj-btn{
  background-color: #2f2f2f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 50ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.proj-btn:hover{
  background-color: #1f1f1f;
  outline: 1px solid #446644;
}
.line{
  display: flex;
  align-items: center;
}
.proj-bar>.line{
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.reload-btn{
  background-color: #0000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reload-btn:hover{
  background-color: #222;
}
.proj-open-btn{
  background-color: #0000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 10px;
}
.proj-open-btn:hover{
  background-color: #222;
}
.new-proj-btn{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    justify-content: center;
    transition: background-color 50ms;
}
.new-proj-btn:hover{
    background-color: #45a049;
}
.edit-btn{
    background-color: #0002;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #fff1;
    float: right;
}
.edit-btn:hover{
    background-color: #222;
    outline: 1px solid #fff4;
}
/* Delete Project & Edit Todo Confirm Screen */
.delete-project-container, .edit-todo-container, .new-note-container{
  position: fixed;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3f3f3f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 900;
  animation: appear_delete 0.3s ease-in-out;
}
@keyframes appear_delete {
  from { transform: translate(-50%, -60%); opacity: 0; }
  to { transform: translate(-50%, -50%); opacity: 1; }
}
.confirm-btn, .cancel-btn{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 80%;
}
.confirm-btn{
    margin-top: 15px;
    background-color: #e74c3c;
    margin-bottom: 6px;
}
.cancel-btn{
    background-color: #555;
}
.confirm-btn:hover{
    background-color: #c0392b;
}
.cancel-btn:hover{
    background-color: #444;
}
.edit-todo-container input, .new-note-container input{
    width: 80%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: #2f2f2f;
    color: white;
}